@media (max-width: 1920px) {

}

@media (max-width: 1280px) {
.tit-opciones {
    font-size: 1.6em;
}
}
@media (max-width: 960px) {
body{
	font-size:0.9em;
	}	
.tit-opciones {
    font-size: 1.4em;
}
.botones-acc {
    width: 50%;
}
.tit-opciones {
    width: 100%;
    padding: 15px 1%;
	position:relative;
	text-align:center;
}
.cont-buttoms {
    width: 100%;
    margin: 0;
}
.cont-descarga {
    width: 100%;
    margin: 0 0;
}
.tit-descarga h1 {
    font-size: 3em;
}
.margins-top-pg-interna{
	margin-top:12%;
	}
.cont-paginterna{
	width:68%;
	}	
.cont-paginterna img {
    float: left;
    width: 50%;
    padding: 0 10px 10px 0;
}
#submenu-interna {
    width: 30%;
}	
}
@media (max-width: 767px) {
.botones-acc {
    width: 100%;
}	
.img-logo-asoprep {
    width: 50%;
    margin: 0 25%;
}
.margins-top-pg-interna{
	margin-top:15%;
	}
.cont-paginterna {
    width: 100%;
}
#submenu-interna {
    width: 100%;
    background-color: #006298;
    height: auto;
    position: relative;
	float:left;
	margin:20px 0;
}

.fotorama-carousel
{
	display: none;
}

.cleaning-services .column1
{
	width: 100%;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
}
.cleaning-services .column1 .title1
{
	font-size: 30px;
	color: #B8B8B8;
	font-weight: bold;
}
.cleaning-services .column1 .title2
{
	font-size: 20px;
	color: #707070;
}
.cleaning-services .column2
{
	width: 0%;
	display: none;
}
.cleaning-services .bloque .label1 {
	width: 100%;
	padding-right: 5%;
}
.cleaning-services .bloque .label2
{
	width: 100%;
}
.cleaning-services .bloque .label2 .imgsuper
{
	margin-top: 0%;
	margin-left: 0%;
	width: 100%;
}
.cleaning-services .bloque .label2 .imgtrabaja
{
	width: 100%;
}

.how-works
{
	line-height: 15px;
}
.how-works .seccion .titlework .text1
{
	font-size: 30px;
}
.how-works .seccion .titlework .text2
{
	font-size: 20px;
}
.aboutas .column1
{
	width: 0%;
    display: none;
}
.aboutas .column2
{
	width: 98%;
    display: block;
    text-align: center;
}
.aboutas .column2 .title1
{
	font-size: 30px;
}
.aboutas .column2 .title2
{
	font-size: 20px;
}
.aboutas .bloque .label1
{
	width: 100%;
}
.aboutas .bloque .label1 .imgsuper
{
	margin-top: 0px;
	width: 100%;
}
.aboutas .bloque .label2
{
	width: 100%;
	padding-left: 6%;
}
.aboutas .bloque .label2 .titlelabel
{
	font-size: 18px;
}

.slider-carousel2 .img-slider2
{
	width: 90%;
}

.aboutas .column1
{
	width: 0%;
    display: none;
}
.contactus .column2
{
	width: 98%;
    display: block;
    text-align: center;
}
.contactus .column2 .title1
{
	font-size: 30px;
}
.contactus .column2 .title2
{
	font-size: 20px;
}
.contactus .bloque .label1
{
	width: 100%;
}
.contactus .bloque .label1 .imgsuper
{
	margin-top: 0px;
	width: 100%;
}
.contactus .bloque .label2
{
	width: 100%;
	padding-left: 0%;
	text-align: center;
	line-height: 30px;
}

.contactus .bloque .label2 div
{
	text-align: center !important;
}

.contactus .bloque .label2 .titlelabel
{
	font-size: 18px;
}
.servicio .servicio-int
{
	width: 48%;
}

.slick-slide img 
{
	width: 97% !important;
	padding-left: 4%;
	padding-right: 2%;
}

.how-works .seccion .slick-slide .text-slider
{
	padding-right: 5%;
	padding-left: 3%;
}

.how-works .seccion .slick-slide .title-slider 
{
	width: 95%;
}

.how-works .seccion .titlework 
{
		padding-top: 5%;
}

.modal-content
{
	width: 100% !important;
	padding-left: 1% !important;
	padding-right: 1% !important;
}

.popup-content .contenedor .seccion .column1
{
	display: block;
	width: 100%;
	text-align: center;
}

.popup-content .contenedor
{
	margin-top: -3%;
}

.popup-content .contenedor .seccion .column2
{
	width: 99%;
	line-height: 20px;
	font-size: 12px;
}

.how-works .seccion .slick-slide .text-slider
{
	line-height: 24px;
}

.popup-content .seccion .titlework
{
	text-align: center;
}

.how-works .seccion div
{
	line-height: 32px;
}

.modal-content
{
	margin: 0% auto !important;
}

.popup-content .contenedor .seccion .column1 img
{
	width: 80%;
    height: 155px;
}

.popup-content .seccion .titlework .text1
{
	    font-size: 40px;
}

.slick-prev
{
	left: -8px !important;
	margin-top: 0px !important;
}
.slick-prev:before {
	font-size: 25px !important;
}

.slick-next
{
	right: -8px !important;
	margin-top: 0px !important;
}
.slick-next:before {
	font-size: 25px !important;
}

.servicio 
{
	margin-top: 5%;
}

.cleaning-services .bloque .label2 .imgtrabaja 
{
    margin-top: 5%;
}

.contactus .bloque .label1 .imgtrabaja 
{
    margin-top: 3%;
}

.cleaning-services .cleaning-rigth
{
	border: none;
	width: 100%;
	padding-left: 0%;
}

.cleaning-services .cleaning-left
{
	width: 100%;
}

.cleaning-services .bloque .label1 {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	margin-left: 0px;
}
	
}
@media (max-width: 500px) {

.navbar-header
{
	display: block;
}


.servicio .servicio-int .btn5
{
	border-right: none;
	border-left: none;
}
.servicio .servicio-int .btn2
{
	border-right: none;
}
.servicio .servicio-int .btn1
{
	border-left: none;
}
.servicio .servicio-int .btn3
{
	border-left: none;
}
.botones-acc {
    width: 100%;
}	
.img-logo-asoprep {
    width: 50%;
    margin: 0 25%;
}
.margins-top-pg-interna{
	margin-top:15%;
	}
.cont-paginterna {
    width: 100%;
}
#submenu-interna {
    width: 100%;
    background-color: #006298;
    height: auto;
    position: relative;
	float:left;
	margin:20px 0;
}

.aboutas 
{
	padding-left: 6%;
}

.contactus 
{
	padding-left: 6%;
}

.fotorama-carousel
{
	display: none;
}

.cleaning-services .cleaning-left
{
	width: 100%;
}

.cleaning-services
{
	padding-right: 0%;
	padding-left: 0%;
}

.cleaning-services .bloque .label1
{
	padding-top: 7.5%;
    padding-bottom: 7.5%;
    padding-right: 6%;
    margin-left: 0%;
}

.cleaning-services .cleaning-rigth
{
	border: none;
	width: 100%;
	padding-left: 0%;
}

.cleaning-services .column1
{
	width: 100%;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
}
.cleaning-services .column1 .title1
{
	font-size: 30px;
	color: #B8B8B8;
	font-weight: bold;
}
.cleaning-services .column1 .title2
{
	font-size: 20px;
	color: #707070;
}
.cleaning-services .column2
{
	width: 0%;
	display: none;
}
.cleaning-services .bloque .label1 {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
}
.cleaning-services .bloque .label2
{
	width: 100%;
}
.cleaning-services .bloque .label2 .imgsuper
{
	margin-top: 3%;
	margin-left: 0%;
	width: 100%;
    margin-right: 0%;
    padding-left: 0px;
    padding-right: 0px;
}
.cleaning-services .bloque .label2 .imgtrabaja
{
	width: 100%;
}

.workwith
{
	width: 100%;
}

.workwith .work-left
{
	width: 100%;
}

.workwith .work-right
{
	width: 100%;
	padding-bottom: 5%;
}

.workwith .work-left .imgsuper
{
	width: 100%;
	padding-top: 3%;
	padding-left: 0%;
	padding-right: 0%;
}

.navbar-nav
{
	margin: 0px !important;
}

.navbar-nav .tright
{
	width: 100%;
	text-align: center;
}

.navbar-nav .tleft
{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.how-works .contenedor .items
{
	padding-left: 0px;
	padding-right: 0px;
}

.how-works .contenedor .items .it-col1
{
	width: 32%;
	border-left: none;
}

.how-works .contenedor .items .it-col2
{
	width: 32%;
}

.how-works .contenedor .items .it-col3
{
	width: 32%;
	border-right: none;
}

.how-works
{
	line-height: 15px;
}
.how-works .seccion .titlework .text1
{
	font-size: 30px;
}
.how-works .seccion .titlework .text2
{
	font-size: 20px;
}

.slick-slide .content-slider div .title
{
	font-size: 22px;
}

.slick-slide .content-slider
{
	position: initial;
	margin-top: 0px !important;
	width: 100%;
}

.slick-slide .content-slider div
{
	width:100%;
	margin-left: 0%;
    margin-right:0%;
    padding-top: 2%; 
    padding-bottom: 0px; 
    padding-left: 5%; 
    padding-right: 5%; 
    background-color: transparent !important;
}

 
.slick-prev, .slick-next
{
	top: 22.2% !important;
	width: 40px !important;
}
.aboutas .column1
{
	width: 0%;
    display: none;
}
.aboutas .column2
{
	width: 98%;
    display: block;
    text-align: center;
}
.aboutas .column2 .title1
{
	font-size: 30px;
}
.aboutas .column2 .title2
{
	font-size: 20px;
}
.aboutas .bloque .label1
{
	width: 100%;
}
.aboutas .bloque .label1 .imgsuper
{
	margin-top: 0px;
	width: 100%;
}
.aboutas .bloque .label2
{
	width: 100%;
	padding-left: 6%;
}
.aboutas .bloque .label2 .titlelabel
{
	font-size: 18px;
}

.slider-carousel2 .img-slider2
{
	width: 90%;
}

.aboutas .column1
{
	width: 0%;
    display: none;
}
.contactus .column2
{
	width: 98%;
    display: block;
    text-align: center;
}
.contactus .column2 .title1
{
	font-size: 30px;
}
.contactus .column2 .title2
{
	font-size: 20px;
}
.contactus .bloque .label1
{
	width: 100%;
}
.contactus .bloque .label1 .imgsuper
{
	margin-top: 0px;
	width: 100%;
}
.contactus .bloque .label2
{
	width: 100%;
	padding-left: 0%;
	text-align: center;
	line-height: 30px;
}

.contactus .bloque .label2 div
{
	text-align: center !important;
}

.contactus .bloque .label2 .titlelabel
{
	font-size: 18px;
}
.servicio .servicio-int
{
	width: 48%;
}

.slick-slide img 
{
	width: 100% !important;
    padding-left: 0%;
    padding-right: 0%;
}

.how-works .seccion .slick-slide .text-slider
{
	padding-right: 5%;
	padding-left: 3%;
}

.how-works .seccion .slick-slide .title-slider 
{
	width: 95%;
}

.how-works .seccion .titlework 
{
		padding-top: 5%;
}

.modal-content
{
	width: 100% !important;
	padding-left: 1% !important;
	padding-right: 1% !important;
}

.popup-content .contenedor .seccion .column1
{
	display: block;
	width: 100%;
	text-align: center;
}

.popup-content .contenedor
{
	margin-top: -3%;
}

.popup-content .contenedor .seccion .column2
{
	width: 99%;
	line-height: 20px;
	font-size: 12px;
}

.insurance-services .bloque .label1
{
	width: 100%;
}

.insurance-services .label1 .column1 .title1
{
	 font-size: 35px;
}

.insurance-services .bloque .right
{
	width: 100%;
}

.insurance-services .bloque .label2 .imgsuper
{
	padding-top: 3%;
	padding-left: 0px;
	padding-right: 0px;
}

.insurance-services .bloque .label2
{
	width: 100%;	
}

.cleaning-left .label1 table
{
	width: 100%;
}

.cleaning-services .label1 .column1 .title2
{
	font-size: 30px;
}

.how-works .seccion .slick-slide .text-slider
{
	line-height: 24px;
}

.popup-content .seccion .titlework
{
	text-align: center;
}

.how-works .seccion div
{
	line-height: 32px;
	background-color: #222222;
}

.modal-content
{
	margin: 0% auto !important;
}

.popup-content .contenedor .seccion .column1 img
{
	width: 80%;
    height: 155px;
}

.popup-content .seccion .titlework .text1
{
	    font-size: 40px;
}


.slick-prev:before {
	font-size: 44px !important;
}


.slick-next:before {
	font-size: 44px !important;
}

.servicio 
{
	margin-top: 5%;
}

.cleaning-services .bloque .label2 .imgtrabaja 
{
    margin-top: 5%;
}

.contactus .bloque .label1 .imgtrabaja 
{
    margin-top: 3%;
}

.container-redes 
{
	float: none;
    position: initial;
    text-align: center;
}

.container-redes div
{
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 10px;
}

.contact-services .label1 .column1 .title1
{
	font-size: 35px;
}
.contact-services .label1 .column1 .title2
{
	font-size: 25px;	
}

.contact-services .column1 .col1
{
	width: 100%;
	padding-bottom: 15px;
}

.contact-services .column1 .col2
{
	width: 100%;
	padding-bottom: 15px;
}


.contact-services .column1 .col3
{
	width: 100%;
	padding-bottom: 15px;
}

.contact-services .column1 .col4
{
	width: 100%;
	padding-bottom: 15px;
}

.contact-services .column1 .col1 .tleft
{
	text-align: center;
}

.contact-services .column1 .col2 .tleft
{
	text-align: center;
}

.contact-services .column1 .col3 .tleft
{
	text-align: center;
}

.contact-services .column1 .col4 .tleft
{
	text-align: center;
}

.contact-services .column1 .col1 span
{
	padding-left: 0px;
}

.contact-services .column1 .col2 span
{
	padding-left: 0px;
}

.contact-services .column1 .col3 span
{
	padding-left: 0px;
}

.contact-services .column1 .col4 span
{
	padding-left: 0px;
}

.contact-services .bloque .label1
{
	width: 100%
}

.contact-services .column1 div
{
	padding-top: 10px;
	text-align: center !important;
}

.contact-services .bloque .label2 .right
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
}

}
@media (max-width: 380px) {
.sec-descarga {
    width: 100%;
}
.margins-top-pg-interna{
	margin-top:20%;
	}
.cont-paginterna img{
	width:100%;
	margin:0;
	}		
}
