/* RESETEO PAGINA */
*{
	margin:0;
	padding:0;
	text-decoration:none;
	}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
/* FONTS */

@font-face {
    font-family: 'Open-Sans-black';
    src: url('../font/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open-Sans-light';
    src: url('../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto-black';
    src: url('../font/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto-light';
    src: url('../font/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'monserrate-bold';
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'monserrate';
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'monserrate-light';
    src: url('../font/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'monserrate-ultralight';
    src: url('../font/Montserrat-UltraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto-regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'federo';
    src: url('../font/Federo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yanone_kaffeesatzregular';
    src: url('yanonekaffeesatz-regular-webfont.eot');
    src: url('yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('yanonekaffeesatz-regular-webfont.woff2') format('woff2'),
         url('yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'yanone_kaffeesatzbold';
    src: url('yanonekaffeesatz-bold-webfont.eot');
    src: url('yanonekaffeesatz-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('yanonekaffeesatz-bold-webfont.woff2') format('woff2'),
         url('yanonekaffeesatz-bold-webfont.woff') format('woff'),
         url('yanonekaffeesatz-bold-webfont.ttf') format('truetype'),
         url('yanonekaffeesatz-bold-webfont.svg#yanone_kaffeesatzbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatzlight';
    src: url('yanonekaffeesatz-light-webfont.eot');
    src: url('yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('yanonekaffeesatz-light-webfont.woff2') format('woff2'),
         url('yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**/
body{
	margin:0;
	padding:0;
	font-family: 'yanone_kaffeesatzregular';
	font-size:1em;
	}
a:hover{
	transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	-webkit-transition:0.3s;
	text-decoration:none !important;
	}	
#cont-general{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	}	
.pos-relative{
	position:relative !important;
	}	
.img-logo-asoprep{
	    width: 12%;
    /*margin: 0 45.5%;*/
    float: left;
	}	
.h1-barragris{
	width:100%;
	float:left;
	background:#333132;
	text-align:center;
	color:#FFF;
	font-size:1.4em;
	padding:5px 0;
	}	
.cont-descarga{
	width:70%;
	margin:0 28%;
	}	
.sec-descarga{
	width:33.3%;
	float:left;
	margin:30px 0;
	}
.sec-descarga img{
	width:50%;
	margin:0 25%;
	}	
.sec-descarga a:link, .sec-descarga a:visited{
	background:#006298;
	color:#FFF;
	padding:7px 30px;
	width:60%;
	float:left;
	clear:both;
	margin:10px 20%;
	text-align:center;
	font-size:1.1em;
	text-decoration:none;
	}	
.sec-descarga a:hover{
	background-color:#0A4159;
	}	
.tit-descarga{
	font-family: 'yanone_kaffeesatzlight';
	font-size:1.2em;
	line-height:1px;
	margin:20px 0;
	}
.tit-descarga font{
	width:100% !important;
	float:left;
	padding:0 15%;
	}		
.tit-descarga h1{
	font-family: 'yanone_kaffeesatzregular';
	font-size:3.5em;
	width:100%;
	float:left;
	}	
/**/
.background-footer{
	/*background-image:url(../images/footter-blue.jpg);
	background-size:cover;
	background-attachment:fixed;*/
	background-color: #333333;
	color:#FFF;
	padding:30px 0 30px 0;
	}
.background-footer a{
	color:#FFF !important;
	clear:both;
	width:100%;
	float:left;
	font-family: 'roboto-light';
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
	}	
.background-black{
	background:rgba(0,0,0,0.6);
	text-align:center;
	color:#FFF;
	padding:7px 0;
	margin:30px 0 0 0;	
	}	
/* BOOTSTRAP 5 COLUMNAS */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
   
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.col-sm-3 h1{
		width:100%;
		float:left;
		text-align:left;
		font-size:1.0em;
		text-decoration:none;
		font-family: 'roboto-regular';
		padding:10px 0;
	    margin-top: 0px;
	    font-weight: 400;
	}
/* */
.tit-opciones{
	width:15%;
	background-color:#333132;
	color:#FFF;
	padding:4% 1% 0 1%;
	font-size:2em;
	height:100%;
	position:absolute;
	line-height:1em;
	}			
.cont-buttoms{
	width:85%;
	float:left;
	margin:0 0 0 15%;
	}
.botones-acc{
	width:33.3%;
	float:left;
	position:relative;
	outline: 1px solid #C5C5C5;
	}	
.botones-acc img{
	width:60%;
	float:left; 
	}	
.info-servicios{
	width:40%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	background-color:#E0E0E0;
	}
.info-servicios h1{
	color:#333132;
	font-size:1.2em;
	padding:10% 2% 0 2%;
	width:96%;
	text-align:center;
	font-family: 'yanone_kaffeesatzbold';
	}	
.info-servicios a:link, .info-servicios a:visited{
	width:30%;
	position:absolute;
	bottom:3%;
	left:35%;
	}	
.info-servicios a img{
	width:100% !important;
	}		
.margins-top{
	margin-top:20px;
	}	
/**/
.margins-top-pg-interna{
	margin-top:7%;
	}
.cont-paginterna{
	width:78%;
	float:left;
	text-align:justify;
	}
.cont-paginterna img{
	float:left;
	width:40%;
	padding: 0 10px 10px 0;
	}
.cont-paginterna h1{
	font-size:2.5em;
	}
.cont-paginterna h2{
	font-size:1.4em;
	margin-top:15px;
	}				
#submenu-interna{
	width:20%;
	background-color:#006298;
	right:0;
	top:0;
	height:100%;
	position:absolute;
	}
#submenu-interna h1{
	background-color:#004062;
	padding:5px 4%;
	font-size:1.5em;
	color:#FFF;
	}	
#submenu-interna ul{
	width:100%;
  margin:10px 0;
	padding:0 4%;
	}	
#submenu-interna ul li{
	width:100%;
	list-style:none;
	border-bottom:1px dashed #FFF;
	padding:4px 2%;
	}	
#submenu-interna ul li:last-child{
	border-bottom:none;
	}
#submenu-interna ul li a:link, #submenu-interna ul li a:visited{
	color:#FFF;
	}	
#submenu-interna ul li:hover{
	background-color:#004062;
	}			
.cont-simuladores{
	width:70%;
	margin:0 15%;
	float:left;
	}
.cont-simuladores img{
	width:30%;
	float:left;
	padding:0 2%;
	}
.cont-calcu{
	width:70%;
	float:left;
	}
.cont-calcu label{
	width:100%;
	float:left;
	}
.cont-calcu input[type="text"]{
	width:100%;
	float:left;
	padding:5px 5%;
	background-color:#FFF;
	border:1px solid #000;
	}
.cont-calcu input[type="submit"], #calc{
	float:right;
	padding:5px 40px;
	background-color:#006298;
	color:#FFF;
	margin:5px 0;
	border:none;
	}	

.fotorama__html div,
.fotorama__html a {
    display: block;
    height: 100%;
    /* Transparent links are not clickable in IE,
       but non-existent background fixes this.
      (Put an empty 1×1 image here to avoid
       errors in console.) */
    background: url(_.gif);
}	
.result-simulator{
	background-color: #006298;
	width: 100%;
	float: left;
	color: #FFF;
	font-size: 1.4em;
	padding: 5px 2%;
	text-align: center;
	opacity: 0;
}					

/*new*/

.hideField {
	display: none !important;
}

.navbar-header
{
	display: none;
}

.servicio
{
	 
	width: 100%;
	color: white;
	text-align: center;
}
.servicio .servicio-int
{
	display: inline-block;
	width: 15%;
    
}

.servicio .servicio-int .btn1
{
	width: 101%;
	background-color: #c12a21;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
	/*-webkit-filter: drop-shadow(5px 5px 5px #ccc);
    filter:         drop-shadow(5px 5px 5px #ccc); */
    background-image: url('/web/images/site/aboutus_orange.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 1px white dashed;
}

.servicio .servicio-int .btn1:hover
{
	width: 101%;
	background-color: #c12a21 !important;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
	/*-webkit-filter: drop-shadow(5px 5px 5px #000);
    filter:         drop-shadow(5px 5px 5px #000); */
    background-image: url('/web/images/site/aboutus_black.svg') !important;
    background-size: 100%;
}
.servicio .servicio-int .btn2
{
	width: 101%;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
    background-image: url('/web/images/site/cleaningservices_orange.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 1px white dashed;
}

.servicio .servicio-int .btn2:hover
{
	width: 101%;
	background-color: #c12a21 !important;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
    background-image: url('/web/images/site/cleaningservices_black.svg') !important;
    background-size: 100%;
}
.servicio .servicio-int .btn3
{
	width: 101%;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
    background-image: url('/web/images/site/insurance_orange.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 1px white dashed;
}

.servicio .servicio-int .btn3:hover
{
	width: 101%;
	background-color: #c12a21 !important;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
    background-image: url('/web/images/site/insurance_black.svg') !important;
    background-size: 100%;
}

.servicio .servicio-int .btn4
{
	width: 101%;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
    background-image: url('/web/images/site/getcuote_orange.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 1px white dashed;
}

.servicio .servicio-int .btn4:hover
{
	width: 101%;
	background-color: #c12a21 !important;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
    background-image: url('/web/images/site/getcuote_black.svg') !important;
    background-size: 100%;
}

.servicio .servicio-int .btn5
{
	width: 101%;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
    background-image: url('/web/images/site/contactus_orange.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 1px white dashed;
    border-right: 1px white dashed;
}



.servicio .servicio-int .btn5:hover
{
	width: 101%;
	background-color: #c12a21 !important;
	/*-webkit-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	-moz-box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);
	box-shadow: 8px -8px 50px 4px rgba(0,0,0,0.39);*/
    background-image: url('/web/images/site/contactus_black.svg') !important;
    background-size: 100%;
}

.servicio span
{
	font-size: 40px;
	font-family: 'federo';
}
.redes-lateral
{
	width: 32px;
	padding-top: 10px;
}
.container-redes
{
	float: right;
	position: fixed;
	right: 10px;
	z-index: 1;
}
.line-center
{
	text-align: center;
	width: 10%;
	border-top: 2px solid white;
}

.line-center-blue
{
	text-align: center;
	width: 10%;
	border-top: 2px solid #1A185C;
}

.servicios-individual
{
	width: 30%;
	text-align: center;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
}

.servicios-individual img
{
	width: 100%;
}

.servicios-individual span
{
	font-size: 25px;
	font-family: 'federo';
	color: #1A185C;
}

.servicios-individual .servicio-content-text
{
	text-align: justify;
}

.servicios-individual .servicio-content-text span
{
	color:#595959;
	font-size: 0.8em;
}

.vermas
{
	background-color: #1A185C;
	color: white;
	font-size: 0.8em;
	border: 0px;
	border-radius: 10px;
	padding-left: 2%; 
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 40%;
}
.educacionfinanciera
{
	width: 100%;
}
.educacionfinanciera .column1
{
	width: 50%;
	display: inline-block;
}
.educacionfinanciera .column1 img
{
	width: 100%;
}
.educacionfinanciera .column2
{
	width: 49%;
	display: inline-block;
	padding: 4%;
	vertical-align: top;
	line-height: 25px;
	padding-top: 2%;
}
.educacionfinanciera .column2 div
{
	text-align: justify;
}
.educacionfinanciera .column2 .titulo-plan
{
	color:#595959;
	font-family: 'tahoma';
	font-weight: bold;
}
.educacionfinanciera .column2 .titulo-ef
{
	color: #1A185C;
	font-size: 40px;
	font-family: 'federo';
}
.educacionfinanciera .column2 .title-content
{
	color: #1A185C;
	font-size: 0.8em;
	font-weight: bold;
	font-family: 'Arial';
}
.educacionfinanciera .column2 .text-content
{
	color: #595959;
	font-size: 0.8em;
	font-family: 'Arial';
}
.educacionfinanciera .column2 a
{
	color: #1A185C;
	text-decoration: none;
	font-weight: bold;
}
.educacionfinanciera .column2 a:hover
{
	text-decoration: underline !important;
}
.redes-sociales
{
	width: 6%;
	padding-right: 20px
}
.col-sm-4
{
	padding-top: 2%;
	line-height: 20px;
}
.col-sm-4 a
{
	padding-top: 2%;
	line-height: 20px;
	font-size: 0.8em;
	font-family: 'monserrate-light';
}
.col-sm-4 a:hover
{
	text-decoration: underline;
}
.col-sm-4 .footer-text
{
	font-size: 0.8em;
	font-family: 'monserrate-light';
}
.orange
{
	color: #F5D800;
}
.pcenter
{
	padding-left: 25%;
}

.col-sm-4 .footer-textbold
{
	font-size: 13px;
	font-family: 'monserrate-bold';
	font-weight: bold;
}
.img-cabecera
{
	width: 100%;
    padding-top: 0px; 
    padding-left: 0%;
}
.menu-principal
{
	background-color: #1C1C1C;
}

.nav
{
	border-bottom: 5px solid #c12a21;
}
.bloque-menu
{
	display: inline-block;
	width: 33.15%;
	padding:5px;
	vertical-align: middle;
	padding-bottom: 9px;
}
.bloque-menu img
{
	width: 22.75px;
}
.bloque-menu span
{
	vertical-align: middle;
	color: white;
}

.tleft
{
	text-align: left;
}
.tcenter
{
	text-align: center;
}
.tright
{
	text-align: right;
}
.tjustify
{
	text-align: justify;
}
.how-works{
	width: 100%;
	line-height: 33px;
	font-family: 'Monserrate';
	
}
.how-works .contenedor
{
	background-color: #F5D800;
}
.how-works .cabecera img
{
	width: 100%;
	-webkit-filter: drop-shadow(0px -6px 5px #ccc);
    filter: drop-shadow(0px -6px 5px #ccc);
}
.how-works .seccion
{
	background-color: white;

}

.how-works .seccion .slick-slide
{
	line-height: 0px;

}

.how-works .seccion .slick-slide .title-slider
{
	width: 86%;
	text-align: center;
	font-size: 100px !important;
	color: white;
	padding-bottom: 1%;
}

.slick-next
{
	right: 20px !important;
    margin-top: 0px;
}

.slick-prev {
    left: 20px;
    margin-top: 0px;   
    z-index: 1;
    left: 20px !important;

}

.slick-prev:before
{
	font-size: 80px !important;;
}

.slick-next:before
{
	font-size: 80px !important;;
}

.how-works .seccion .slick-slide .text-slider
{
	padding-right: 11%;
}

.how-works .seccion .slick-slide .text-slider span
{
	color: white;
	font-family: 'monserrate-light';
	font-weight: normal;
	font-size: 13px;
}

.how-works .seccion .titlework
{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2.2%;
}
.how-works .seccion .titlework .text1
{
	font-family: 'Monserrate';
	font-size: 60px;
	color: #B8B8B8;
}

.how-works .seccion .titlework .text2
{
	font-family: 'Monserrate';
	font-size: 35px;
	color: #B8B8B8;
}



.popup-content{
	width: 100%;
	line-height: 33px;
	font-family: 'Monserrate';
	padding-left:4%;
	padding-right:4%;
	padding-top: 1%;
	padding-bottom: 1%;
	
}
.popup-content .contenedor
{
	padding-left:0%;
	padding-right:.5%;
	background-color: #EEB618;
	margin-top: 0%;
}
.popup-content .cabecera img
{
	width: 100%;
	-webkit-filter: drop-shadow(0px -2px 3px #ccc);
    filter: drop-shadow(0px -2px 3px #ccc);
    margin-top: 0%;
}
.popup-content .seccion
{
	padding-left:2%;
	padding-right:2%;
	background-color: #333333;
	padding-bottom: 4%;
}

.popup-content .seccion .slick-slide
{
	line-height: 20px;
}

.popup-content .seccion .slick-slide .title-slider
{
	width: 86%;
	text-align: center;
	font-size: 16px;
	color: white;
	padding-bottom: 1%;
}


.popup-content .seccion .slick-slide .text-slider
{
	padding-right: 11%;
}

.popup-content .seccion .slick-slide .text-slider span
{
	color: white;
	font-family: 'monserrate-light';
	font-weight: normal;
	font-size: 13px;
}

.popup-content .seccion .titlework
{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2.2%;
}
.popup-content .seccion .titlework .text1
{
	font-family: 'Monserrate';
	font-size: 60px;
	color: #444444;
}

.popup-content .seccion .titlework .text2
{
	font-family: 'Monserrate';
	font-size: 35px;
	color: #B8B8B8;
}

.popup-content .contenedor .seccion .column1
{
	width: 45%;
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
}

.popup-content .contenedor .seccion .column2
{
	width: 52%;
	display: inline-block;
	line-height: 22px;
    text-align: justify;
}

.popup-content .contenedor .seccion .column2 span
{
	font-size: 0.8em;
	color: white;
	
}

.popup-content .contenedor .seccion .items
{
	width: 100%;
	margin-top: 5%;
}


.popup-content .contenedor .seccion .column2 .items .it-col1
{
	display: inline-block;
	width: 32.33%;
	text-align: center;
}

.popup-content .contenedor .seccion .column2 .items .it-col2
{
	display: inline-block;
	width: 32.33%;
	text-align: center;
}

.popup-content .contenedor .seccion .column2 .items .it-col3
{
	display: inline-block;
	width: 32.33%;
	text-align: center;
}

.popup-content .contenedor .seccion .column2 .items .it-col1 .img-item
{
	width: 33.33%;
	text-align: center;
}

.popup-content .contenedor .seccion .column2 .items .it-col2 .img-item
{
	width: 24.33%;
	text-align: center;

}

.popup-content .contenedor .seccion .column2 .items .it-col3 .img-item
{
	width: 33.33%;
	text-align: center;

}

.cleaning-services
{
	width: 100%;
	line-height: 33px;
	font-family: 'Monserrate';
}

.cleaning-services .cleaning-left
{
	width: 100%;
	display: inline-block;
	font-weight: bold;
}

.cleaning-services .cleaning-rigth
{
	width: 33%;
	display: inline-block;
	font-weight: bold;
	border-left: 2px black dashed;
	padding-left: 3%;
	vertical-align: bottom;
}

.cleaning-services .cleaning-rigth .image
{
	width: 99.74%;
	border: 5px solid #c12a21;
    background-color: transparent;
}


.cleaning-services .column1
{
	text-align: center;
}
.cleaning-services .label1 .column1 .title1
{
	font-size: 60px;
	color: #383838;
	font-weight: bold;
}
.cleaning-services .label1 .column1 .title2
{
	font-size: 45px;
	color: #1c1c1c;
}
.cleaning-services .column2
{
	width: 70%;
	display: inline-block;
}
.cleaning-services .bloque
{
	width: 100%;
	background-color: #DEDEDE;
}
.cleaning-services .bloque .label1
{
	width: 44%;
    display: inline-block;
    padding: 2%;
    line-height: 22px;
    color: #383838;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
}
.cleaning-services .bloque .label2
{
	width: 55%;
    display: inline-block;
    vertical-align: top;
    background-color: #EBCE21;
}
.cleaning-services .bloque .right
{
	width: 55%;
    display: inline-block;
    vertical-align: top;
    background-color: #C12A21;
}

.cleaning-services .bloque .label2 .imgsuper
{
	/*border-radius: 10px;*/
	/*margin-top: 6%;*/
	/*box-shadow: 4px 11px 11px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 11px rgba(0,0,0,0.4);*/
	width: 100%;
	padding-left: 15%;
	/*border: 10px solid #c12a21;*/
	background-color: transparent;

}

.cleaning-services .bloque .label2 .right
{
	width: 100%;
	padding-right: 15%;
	padding-left: 0%;
	background-color: transparent;

}
.cleaning-services .bloque .label2 .imgtrabaja
{
	-webkit-filter: drop-shadow(5px 5px 5px #ccc);
    filter: drop-shadow(5px -5px 5px #ccc);
	width: 130%;
	margin-top: -20%;

}


.cleaning-services .bloque .label1 span
{
	font-size: 0.8em;
}
.slider-carousel2 .img-slider2
{
	width: 100%;
	max-height: 869px !important;
}

.slick-slide .content-slider
{
	
    color: white;
    position: absolute;
    text-align: center;
    margin-top: -8%;
    width: 25%;
    line-height: 20px;
}

.slick-slide .content-slider div
{
	text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(0,0,0,.7);
}

.slick-slide .content-slider div .title
{
	font-size: 32px;
	font-family: 'Open-Sans-black';
}

.slick-slide .content-slider div .text-content
{
	font-size: 14px;
	font-family: 'monserrate-light';
}

.slick-dots
{
	display: none !important;
}

.slick-dotted.slick-slider
{
	margin-bottom: 0px !important;
}

.how-works .contenedor .items
{
	width: 100%;
	margin-top: 0%;
	background-color: #222222;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10px;
	line-height: 22px;
	padding-bottom: 1%;
	padding-top: 1%;
}


.how-works .contenedor .items .it-col1
{
	display: inline-block;
	width: 30%;
	text-align: center;
	border-left: 1px dashed white;
}

.how-works .contenedor .items span
{
	font-size: 15px;
	font-family: 'Open-Sans-black';
	color: white;
}

.how-works .contenedor .items .it-col2
{
	display: inline-block;
	width: 30%;
	text-align: center;
	border-left: 1px dashed white;
}

.how-works .contenedor .items .it-col3
{
	display: inline-block;
	width: 30%;
	text-align: center;
	border-left: 1px dashed white;
	border-right:1px dashed white;
}

.how-works .contenedor .items .it-col1 .img-item
{
	width: 33.33%;
	text-align: center;
	padding-bottom: 10px;
}

.how-works .contenedor .items .it-col2 .img-item
{
	width: 33.33%;
	text-align: center;
	padding-bottom: 10px;

}

.how-works .contenedor .items .it-col3 .img-item
{
	width: 33.33%;
	text-align: center;
	padding-bottom: 10px;

}

.workwith
{
	width: 100%;
	font-family: "Open-Sans-black";
	background-color: #222222;
}

.workwith .work-left
{
	display: inline-block;
	width: 43%;
	background-color: #EBCE21;
}

.workwith .work-right
{
	display: inline-block;	
	width: 56%;
	vertical-align: middle;
}

.workwith .work-right .button
{
	border-radius: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	background-color: #EBCE21;
}

.workwith .work-right .button:hover
{
	background-color: #C12A21;
	color: white;
}

.workwith .work-left .imgsuper
{
	width: 100%;
	padding-left: 20%;
	background-color: transparent;

}

.workwith .work-right .column1 .title1
{
	font-size: 60px;
	color: #D9D9D9;
	font-weight: bold;
}
.workwith .work-right .column1 .title2
{
	font-size: 45px;
	color: #B3B3B3;
}

.aboutas
{
	width: 100%;
	line-height: 33px;
	font-family: 'Monserrate';
	padding-left:10%;
	padding-right:6%;
	padding-top: 1%;
	padding-bottom: 1%;

}
.aboutas .column2
{
	width: 34%;
	display: inline-block;
	font-weight: bold;
}
.aboutas .column2 .title1
{
	font-size: 60px;
	color: #B8B8B8;
	font-weight: bold;
}
.aboutas .column2 .title2
{
	font-size: 45px;
	color: #707070;
}
.aboutas .column1
{
	width: 60%;
	display: inline-block;
}
.aboutas .bloque
{
	width: 100%;
}
.aboutas .bloque .label1
{
	width: 32%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.aboutas .bloque .label2 .titlelabel
{
	font-size: 28px;
	font-family: 'monserrate-light';
}
.aboutas .bloque .label2
{
	width: 62%;
	display: inline-block;
	background-color: #333333;
	padding-top: 7.5%;
	padding-bottom: 7.5%;
	padding-right: 6%;
	padding-left: 20%;
	line-height: 22px;
	color: white;
	border-radius: 10px;
}
.aboutas .bloque .label1 .imgsuper
{
	border-radius: 10px;
	margin-top: -15%;
	margin-left: 0%;
	box-shadow: 4px 11px 11px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 11px rgba(0,0,0,0.4);
	width: 155%;
	border: 10px solid #c12a21;
    background-color: transparent;
}
.aboutas .bloque .label1 .imgtrabaja
{
	-webkit-filter: drop-shadow(5px 5px 5px #ccc);
    filter: drop-shadow(5px 5px 5px #ccc);
	width: 130%;
}
.aboutas .bloque .label2 span
{
	font-size: 0.8em;
}

.contactus
{
	width: 100%;
	line-height: 33px;
	font-family: 'Monserrate';
	padding-left:10%;
	padding-right:6%;
	padding-top: 1%;
	padding-bottom: 1%;

}
.contactus .column2
{
	width: 34%;
	display: inline-block;
	font-weight: bold;
}
.contactus .column2 .title1
{
	font-size: 60px;
	color: #B8B8B8;
	font-weight: bold;
}
.contactus .column2 .title2
{
	font-size: 45px;
	color: #707070;
}
.contactus .column1
{
	width: 60%;
	display: inline-block;
}
.contactus .bloque
{
	width: 100%;
}
.contactus .bloque .label1
{
	width: 39%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.contactus .bloque .label2 .titlelabel
{
	font-size: 28px;
	font-family: 'monserrate-light';
}
.contactus .bloque .label2
{
	width: 50%;
	display: inline-block;
	background-color: #333333;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	padding-right: 6%;
	padding-left: 15%;
	line-height: 26px;
	color: white;
	border-radius: 10px;
}
.contactus .bloque .label1 .imgsuper
{
	border-radius: 10px;
	margin-left: 0%;
	box-shadow: 4px 11px 11px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 11px rgba(0,0,0,0.4);
	width: 135%;
	border: 10px solid #c12a21;
    background-color: transparent;
}
.contactus .bloque .label1 .imgtrabaja
{	
	margin-top: -8%;
	-webkit-filter: drop-shadow(0px -5px 3px #ccc);
    filter: drop-shadow(0px -5px 3px #ccc);
	width: 101%;
}
.contactus .bloque .label2 .titleencabezado
{
	font-family: 'monserrate-bold';
	font-weight: bold;
	font-size: 17px;
}
.contactus .bloque .label2 span
{
	font-family: 'monserrate-light';
	font-size: 14px;
}
#container .prev
{
	margin-top: 10%;
    margin-left: 6%;
    font-family: 'monserrate-bold';
	font-weight: bold;
	font-size: 45px;
    background-color: transparent;
    border: none;
    color: #C7C5C4;
}
#container .next
{
	float: right;
    margin-top: 10%;
    margin-right: 6%;
    font-family: 'monserrate-bold';
    font-weight: bold;
    font-size: 45px;
    background-color: transparent;
    border: none;
    color: #C7C5C4;
}

#carousel figure img
{
	-webkit-filter: drop-shadow(6px 4px 2px #ccc);
	filter: drop-shadow(6px 4px 2px #ccc);
    border-radius: 15px;
    background-color: transparent;
}

#carousel .carousel-portal
{
	background-image: url('/web/images/site/cuadro_carousel.svg');
	border-radius: 15px;
	background-size: 100%;
	-webkit-filter: drop-shadow(6px 4px 2px #ccc);
    filter: drop-shadow(6px 4px 2px #ccc);
}

#carousel .carousel-portal img
{
	padding: 12px;
	border-radius: 15px;
	filter: none;
	-webkit-filter: none;
}

#imagepopup
{
	width:100%;
}

.div-carousel
{
	vertical-align: bottom;
	position: absolute;
	margin-top: 90%;
	background-color: rgba(0,0,0,.5);
	padding: 10px;
	margin-left: 4%;
	margin-right: 2.6%;
	min-width: 93.3%;
}
.span-carousel
{
	font-size: 13px;
	font-family: 'monserrate-light';
}
.button-carousel
{
	background-color: transparent;
	border:1px solid white;
	padding-left: 9%;
	padding-right: 9%;
	padding-bottom: 3%;
	padding-top: 3%;
	border-radius: 10px;
	font-size: 13px;
	font-family: 'monserrate-bold';
}
.button-carousel:hover
{
	background-color: rgba(255,255,255,0.3);
	color: black;
}
.scrollBox{
	position: relative;
	width: 400px;
	height: 300px;

	padding-right: 14px;
	overflow: hidden;
}
.scrollbar{
	position: absolute;
	width: 6px;
	height: 100%;
	
	right: 0;
}
.scrollDragger{
	position: absolute;
	background: #ccc;
	width: 6px;
	height: 30px;

	cursor: pointer;
	margin-left: -1px;
	z-index: 2;
}
.scrollRail{
	position: absolute;
	background: #eee;
	width: 4px;
	height: 100%;
	z-index: 1;
}

ul{
	list-style: none;
	margin: 0px;
}

.fadein{
	display: block;
	float: left;
	margin-bottom: 15px;
	color: #fff;
	font: 40px Edmondsans;
	text-align: center;
	padding: 75px 0px;
	width: 100%;
	height: 50px;
	background: #35c52e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzNWM1MmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGI5ODMwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #35c52e 0%, #0b9830 100%); /* FF3.6+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #35c52e 0%,#0b9830 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #35c52e 0%,#0b9830 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #35c52e 0%,#0b9830 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #35c52e 0%,#0b9830 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c52e', endColorstr='#0b9830',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#flux_carousel li{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 145px;
	height: 145px;
	background: #35c52e; /* Old browsers */
}
#flux_carousel ul:nth-child(2n+2) li{
	background: #ccc;
}

.tab{
	background: #108de4;
	padding: 20px;
	color: #eee;
	border-radius: 5px;
}

.seccion
{

}

.cleaning-left .label1 table
{
  text-align: center;
  width: 85%;
  line-height: 30px;
}

.cleaning-left .label1 table input
{
  height: 25px; width: 250px;
}

.cleaning-left .label1 .forminput
{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #222222;

}

.cleaning-left .label1 .none
{
  border: none;
  color: #8e8e8e;
}

.cleaning-left .label1 .button
{
	border-radius: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	background-color: #EBCE21;
}

.cleaning-left .label1 table tr td
{
  text-align: center;
  padding: 3px;
}


/***** ***/

.insurance-services
{
	width: 100%;
	line-height: 33px;
	font-family: 'Monserrate';
}

.insurance-services .insurance-left
{
	width: 100%;
	display: inline-block;
	font-weight: bold;
}

.insurance-services .insurance-right
{
	width: 33%;
	display: inline-block;
	font-weight: bold;
	border-left: 2px black dashed;
	padding-left: 3%;
	vertical-align: bottom;
}

.insurance-services .cleaning-rigth .image
{
	width: 99.74%;
	border: 5px solid #c12a21;
    background-color: transparent;
}


.insurance-services .column1
{
	text-align: center;
}
.insurance-services .label1 .column1 .title1
{
	font-size: 60px;
	color: #383838;
	font-weight: bold;
}
.insurance-services .label1 .column1 .title2
{
	font-size: 45px;
	color: #1c1c1c;
}
.insurance-services .column2
{
	width: 70%;
	display: inline-block;
}
.insurance-services .bloque
{
	width: 100%;
	background-color: #DEDEDE;
}
.insurance-services .bloque .label1
{
	width: 44%;
    display: inline-block;
    padding: 2.5%;
    line-height: 22px;
    color: #383838;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
}
.insurance-services .bloque .label2
{
	width: 55%;
    display: inline-block;
    vertical-align: top;
    background-color: #C12A21;
}
.insurance-services .bloque .right
{
	width: 55%;
    display: inline-block;
    vertical-align: top;
    background-color: #EBCE21;
}

.insurance-services .bloque .label2 .imgsuper
{
	/*border-radius: 10px;*/
	/*margin-top: 6%;*/
	/*box-shadow: 4px 11px 11px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 11px rgba(0,0,0,0.4);*/
	width: 100%;
	padding-left: 15%;
	/*border: 10px solid #c12a21;*/
	background-color: transparent;

}

.insurance-services .bloque .label2 .right
{
	width: 100%;
	padding-right: 15%;
	padding-left: 0%;
	background-color: transparent;

}
.insurance-services .bloque .label2 .imgtrabaja
{
	-webkit-filter: drop-shadow(5px 5px 5px #ccc);
    filter: drop-shadow(5px -5px 5px #ccc);
	width: 130%;
	margin-top: -20%;

}


.insurance-services .bloque .label1 span
{
	font-size: 0.8em;
}


/**** ****/

.contact-services
{
	width: 100%;
	line-height: 33px;
	font-family: 'Monserrate';
}

.contact-services .contact-left
{
	width: 100%;
	display: inline-block;
	font-weight: bold;
}

.contact-services .contact-right
{
	width: 33%;
	display: inline-block;
	font-weight: bold;
	border-left: 2px black dashed;
	padding-left: 3%;
	vertical-align: bottom;
}

.contact-services .cleaning-rigth .image
{
	width: 99.74%;
	border: 5px solid #c12a21;
    background-color: transparent;
}


.contact-services .column1
{
	text-align: center;
}
.contact-services .label1 .column1 .title1
{
	font-size: 60px;
	color: #B1B1B1;
	font-weight: bold;
}
.contact-services .label1 .column1 .title2
{
	font-size: 45px;
	color: #686868;
}
.contact-services .column2
{
	width: 70%;
	display: inline-block;
}
.contact-services .bloque
{
	width: 100%;
	background-color: #C12A21;
}
.contact-services .bloque .label1
{
	width: 91%;
    display: inline-block;
    padding: 2.5%;
    line-height: 22px;
    color: #383838;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #222222;
}

.contact-services .bloque .right
{
	width: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #EBCE21;
}

.contact-services .bloque .label2 .imgsuper
{
	/*border-radius: 10px;*/
	/*margin-top: 6%;*/
	/*box-shadow: 4px 11px 11px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 11px rgba(0,0,0,0.4);*/
	width: 100%;
	padding-left: 15%;
	/*border: 10px solid #c12a21;*/
	background-color: transparent;

}

.contact-services .bloque .label2 .right
{
	width: 100%;
	padding-right: 0%;
	padding-left: 15%;
	background-color: transparent;

}
.contact-services .bloque .label2 .imgtrabaja
{
	-webkit-filter: drop-shadow(5px 5px 5px #ccc);
    filter: drop-shadow(5px -5px 5px #ccc);
	width: 130%;
	margin-top: -20%;

}


.contact-services .column1 .col1
{
	width: 24%;
	display: inline-block;
	vertical-align: top;
}

.contact-services .column1 .col1 .titleencabezado
{
	color: white;
	font-family: 'monserrate-bold';
	padding-left: 0px;
}

.contact-services .column1 .col1 span
{
	color: white;
	font-family: 'monserrate-ultralight';
	padding-left: 64px;
}

.contact-services .column1 .col2
{
	width: 24%;
	display: inline-block;
	vertical-align: top;
}

.contact-services .column1 .col2 .titleencabezado
{
	color: white;
	font-family: 'monserrate-bold';
	padding-left: 0px;
}

.contact-services .column1 .col2 span
{
	color: white;
	font-family: 'monserrate-ultralight';
	padding-left: 64px;
}

.contact-services .column1 .col3
{
	width: 24%;
	display: inline-block;
	vertical-align: top;
}

.contact-services .column1 .col3 .titleencabezado
{
	color: white;
	font-family: 'monserrate-bold';
	padding-left: 0px;
}

.contact-services .column1 .col3 span
{
	color: white;
	font-family: 'monserrate-ultralight';
	padding-left: 64px;
}

.contact-services .column1 .col4
{
	width: 24%;
	display: inline-block;
	vertical-align: top;
}

.contact-services .column1 .col4 .titleencabezado
{
	color: white;
	font-family: 'monserrate-bold';
	padding-left: 0px;
}

.contact-services .column1 .col4 span
{
	color: white;
	font-family: 'monserrate-ultralight';
	padding-left: 64px;
}

.contact-services .bloque .label1 span
{
	
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 12% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 26%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: white;
    font-size: 11px;
    font-weight: bold;
    /* background: black; */
    /* padding-left: 5px; */
    padding-right: 5px;
    opacity: 1;
    height: 15px;
    margin-left: 5px;
    color: red;
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 23px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: white;
    font-size: 11px;
    font-weight: bold;
    /* background: black; */
    /* padding-left: 5px; */
    padding-right: 5px;
    opacity: 1;
    height: 15px;
    margin-left: 5px;
    color: red;
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 23px;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close3 {
    color: white;
    font-size: 11px;
    font-weight: bold;
    /* background: black; */
    /* padding-left: 5px; */
    padding-right: 5px;
    opacity: 1;
    height: 15px;
    margin-left: 5px;
    color: red;
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 23px;
}

.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#perspective {
  margin: 0 auto;
  margin-top: 0px;
  width: 500px;
  /*height: 140px;*/
  text-align: center;
  padding-left: 7%;
  position: relative;
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg) translateZ(-288px);
}

#carousel figure {
  display: block;
  position: absolute;
  /*background: #399294;*/
  width: 296px;
  height: 106px;
  opacity: 0.9;
  margin: 12px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
         -moz-transition: opacity 1s, -moz-transform 1s;
           -o-transition: opacity 1s, -o-transform 1s;
              transition: opacity 1s, transform 1s;
}

